// This file is part of www.nand2tetris.org
// and the book "The Elements of Computing Systems"
// by Nisan and Schocken, MIT Press.
// File name: projects/07/StackArithmetic/SimpleAdd/SimpleAdd.vm

// Pushes and adds two constants.
push constant 7
push constant 8
add

//push
//@SP
//M=M-1
//D=M
//@D
//M=index
//@SP
//M=M+1
//
//eq
//@SP
//M=M-1
//D=M
//@D
//D=M(y)
//@SP
//AM=M-1
//@JUMP
//D=M(x)-D(y);JEQ
//@SP
//A=M
//M=0(true)
//@JUMPEMD
//0;JMP
//(JUMP)
//@SP
//A=M
//M=-1
//(JUMPEND)
//
//
//
//
//
//


